.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 32px;
    font-size: 15px;
    border: none;
    border-radius: 6px;
}

.btn svg {
    width: 20px;
    height: 20px;
}

.btn.bg-primary {
    background-color: #3182f6;
}

.btn.bg-secondary {
    background-color: #f2f4f6;
}

.btn.bg-white {
    background-color: #fff;
}

.btn.color-white {
    color: #fff
}

.btn.color-gray {
    color: #4e5968
}
